# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# User Added
*.iml
.config/anyenv/
.config/configstore/
.config/direnv/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_history
.config/fish/fish_variables
.config/fish/fishd*
.config/fish/functions/
.config/fisher/
.config/fisherman/
.config/gatsby/
.config/gcloud/
.config/gh/
.config/htop/
.config/hub/
.config/karabiner/
.config/raycast/
.config/tabtab/
.config/tmux/plugins/
.config/yarn/
.idea
.log/
.meghanada
.tern-port
.zshenv
GPATH
GRTAGS
GTAGS
tsfmt.json

.dir-locals.el
