# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# User Added
*.iml
.bin/emacs-lsp-booster
.claude/ide/
.claude/projects/
.claude/settings.local.json
.claude/shell-snapshots/
.claude/statsig/
.claude/todos/
.config/anyenv/
.config/configstore/
.config/copilot-chat/
.config/copilot-chat/
.config/direnv/
.config/firebase/
.config/fish-ai.ini
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_history
.config/fish/fish_variables
.config/fish/fishd*
.config/fish/functions/
.config/fisher/
.config/fisherman/
.config/gatsby/
.config/gcloud/
.config/gh-copilot/
.config/gh/
.config/github-copilot/
.config/htop/
.config/hub/
.config/jgit/
.config/karabiner/
.config/neofetch/
.config/raycast/
.config/tabtab/
.config/tmux/plugins/
.config/yarn/
.dir-locals.el
.idea
.log/
.meghanada
.tern-port
.zshenv
GPATH
GRTAGS
GTAGS
tsfmt.json
